.container{
    /* display: flex;
    justify-content: center;  
  align-items: center; */
    border-radius: 50px;
    background-color: #e4e4e2;
    padding:70px;
    width: 30%;
    margin-left: 30%;
   margin-top: 5%;
}
.register{
    /* display: flex;
    justify-content: center;   */
    margin-top:10%;
   margin-left: 35%;
  }
    /* margin-top: -40%; */
    

.input{
    /* display: flex;
    justify-content: center;  */
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(240, 244, 255, 0.947);
    color: black;
    margin-top: 40px;
    margin-left: 20%;
}
.button{
  background-color: rgb(19, 80, 222);
  margin-left: 35%;
  width: 30%;
  padding: 12px 20px;
  border-radius: 6px;


}
/* .form{
    display: flex;
    justify-content: center;
    align-items: center;
} */
